.sucessOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.521);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sucessModal {
  width: 500px;
  height: 500px;
  background: rgb(194, 186, 151);
  padding: 2rem;
  border-radius: 15px;
  text-align:center;
  box-shadow: 0 0 10px rgba(0, 2, 0, 0.993);
}

.sucessButton {
  margin-top: 4rem;
  padding: 0.5rem 1rem;
  background-color: rgb(173, 158, 40);
  color: rgb(3, 3, 3);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.sucessTitle {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.sucessMessage {
  color: rgb(29, 25, 5);
  font-size: 25px;
  margin-top: 20px;
}
.sucessSvg{
  width: 100px;
  height: 100px;
}